.site-header {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0b4783;
  background-image: url('../images/45-degree-fabric-dark.png');
}

.header-name {
  font-weight: 300;
  margin-top: 0;
}

.header-name strong {
  font-weight: 700;
}